main {
    background:aqua;
    width:995px; margin:0 auto;
    padding-top:123px;
}
main .path {margin-bottom:26px; font-size:0.875rem; color:#333;}
main section {
    display:grid;
    grid-template-columns:630px 341px;
    justify-content:space-between;
}
main section .left_thumnail {
    background:yellow; display:flex; gap:15px;
}
main section .left_thumnail .small {}
main section .left_thumnail .small a {
    width:56px; height:56px; display:block; overflow:hidden;
    border-radius:5px; margin-bottom:10px;
}
main section .left_thumnail .small a img {}
main section .left_thumnail .big {
    width:calc(100% - (56px + 15px));
}
main section .left_thumnail .big img {width:100%; border-radius:5px;}
main section .right_order {background:lime;}
main section .right_order > * {margin-bottom:25px; background-color: pink;}
main section .right_order .brand {}
main section .right_order h2 {}
main section .right_order .review {}
main section .right_order .review .score {}
main section .right_order .review .score em {}
main section .right_order .review .num {}
main section .right_order .sale_price {}
main section .right_order .sale_price em {}
main section .right_order .sale_price del {}
main section .right_order > .price {}
main section .right_order > .price em {}
main section .right_order .benefit_delivery {overflow:hidden;}
main section .right_order .benefit_delivery dt {
    width:80px; background:coral;
    float:left;
}
main section .right_order .benefit_delivery dd {
    width:calc(100% - 80px); background:olive;
    float:right;
}
main section .right_order .benefit_delivery dd em {}
main section .right_order .product_option {
    display:flex; flex-flow:column nowrap; gap:25px;
}
main section .right_order .product_option > * {
    border-radius:5px; outline:none; line-height:44px;
    font-size:0.875rem; padding-left:17px;
}
main section .right_order .product_option select[name=color] {
    border:1px solid rgba(89,175,255,0.63); 
}
main section .right_order .product_option select[name=color] option {}
main section .right_order .product_option select[name=size] {
    border:1px solid #aaa; 
}
main section .right_order .product_option select[name=size] option {}
main section .right_order .total {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main section .right_order .total p {}
main section .right_order .total .price {}
main section .right_order .total .price em {}
main section .right_order .btn_group {display:flex; flex-flow:row nowrap;}
main section .right_order .btn_group * {
    border:1px solid #59AFFF; line-height:57px; flex:1;
    border-radius:5px; font-size:1.063rem;
}
main section .right_order .btn_group #cart_btn {
    background-color:#fff; color:#59AFFF; margin-right:10px;

}
main section .right_order .btn_group #buy_btn {
    background-color:#59AFFF; color:#fff;
}