body, html {background-color:#95efbd; padding:0 10px;}
main {
    background-color:#fff;
    max-width:420px;
    min-width:320px;
    margin:50px auto 0;
}
main .top {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; padding:15px;
}
main .top .profile {
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
main .top .profile span {}
main .top .profile .photo {
    width:25px; height:25px;
    background:url(https://images.unsplash.com/photo-1500835556837-99ac94a94552?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsfGVufDB8fDB8fHww) center / cover;
    border-radius:50%;
}
main .top .profile em {
    margin:0 4px;
    font-weight:600; font-size:0.875rem;
}
main .top .profile .certified {color:#14ce66; font-size:0.75rem;}
main .top #top_menu {font-size:0.75rem;}
main .photo {}
main .photo img {width:100%;}
main .menu {display:flex; flex-flow:row nowrap; justify-content:space-between; padding:15px;}
main .menu .left {display:flex;} /* 옆으로 나열 + a태그 크기 적용을 위해서 */
main .menu .left a {}
main .menu .left > * {width:24px;} /* 형제들 크기 조절해라 */
main .menu .left img {width:100%;} /* left 안에 있는 공통 img 선택자. 이미지는 부모의 형제들 전체 크기 따라가라  */
main .menu .left .like {}
main .menu .left .like img {}
main .menu .left .comment {margin:0 20px;}
main .menu .left .comment img {}
main .menu .left .share {}
main .menu .left .share img {}
main .menu .right_save {}
main .menu .right_save img {width:24px;}
main .contents {padding:15px;}
main .contents p {}
main .contents .story {font-size:0.875rem;}
main .contents .tag {margin:14px 0;}
main .contents .tag span {
    background:#f5f5f5; color:#146ece; font-size:0.75rem;
}
main .contents .tag span:nth-of-type(1) {}
main .contents .tag span:nth-of-type(2) {}
main .contents .tag span:nth-of-type(3) {}
main .contents .date {font-size:0.75rem; color:#aaa;}