main {
    background-color:#f5f5f5;
    padding:50px 0;
    /* hegiht:max-content 내용만큼 */
    position:relative;
}
main .design {
    width:1400px; margin:0 auto;
    display:flex; flex-flow:row wrap;
    background-color:aqua; gap:20px;
    /* flex때문에 세로가 다 선택된다! */
}
main .design a {
    width:calc((100% - 60px) / 4); /* margin-right:20px; */
    height:180px; overflow:hidden;
    border:2px solid red;
}
main .design a:nth-child(4n) {/* margin-right:0; */}/* 4의 배수마다 마진을 없앨거니까 4의 배수에 마진을 없애준다. */
main .design a img {width:150%; transform:translate(-17%, -8%)}
/* 클릭 시 실행 팝업 */
.popup_bg {
    position:fixed; left:0; top:0;
    background:rgba(0,0,0,0.7);
    width:100%; height:100vh;
    display:flex; flex-flow:column nowrap; justify-content:center;
}
.popup_bg .contents {
    background-color:#fff;
    /* 디자인의 실제 크기를 그대로 쓰게되면 한눈에 잘 안들어온다. 모니터에서 보기 좋은 비율로 맞춰서 봐야한다. */
    width:600px; margin:0 auto; height:80vh; overflow:auto;
    /* scroll을 하면 필요없어도 스크롤이 나오니까 auto로 해두면 자동으로 나왔다가 들어갔다가 한다! */
    padding:30px; border-radius:20px;
}
.popup_bg .contents img {width:100%;}